//---GLOBAL---
$red-color: #620808;
$red-light-color: #a53f3f;
$cream-color: #f4ce74;
$white-dark-color: #ffe9c1;
$orange-color: #d5441c;
$orange-light-color: #f6704b;

//---HEADER---


//---GALLERY---


//---CONTACT---


//---FOOTER---

